send http code 500 for server errors and http code 400 for client errors

See [RFC8484 Section 4.2.1](https://datatracker.ietf.org/doc/html/rfc8484#section-4.2.1) for DoH error handling rules.

- error codes 400 and 500 implemented
- error messages like the following implemented (using 'application/json' as content type):
```json
{
  "error": {
    "error_code": 400,
    "error_type": "KeyError",
    "error_message": "'dns'"
  }
}
```